{% extends "base.html" %}

{% block content %}
    <main class="container my-auto text-center" role="main">
        <h1 class="display-1">Ice Cube</h1>
        <p>Сделайте свой Discord сервер лучше.</p>
        <div class="d-flex flex-column flex-md-row justify-content-center">
            <a href="/invite_bot" class="btn text-white mx-2 my-2" style="background-color: #47abee;">
                Добавить бота
            </a>
            {% if username is undefined %}
                <a href="/login" class="btn text-white mx-2 my-2" style="background-color: #47abee;">
                    Настройки серверов
                </a>
            {% else %}
                <a href="/guilds" class="btn text-white mx-2 my-2" style="background-color: #47abee;">
                    Настройки серверов
                </a>
            {% endif %}
        </div>
    </main>
{% endblock %}