{% extends "base.html" %}

{% block content %}
    <main class="container my-auto text-center" role="main">
        <h1 class="display-1">Ice Cube</h1>
        <p>Сделайте свой Discord сервер лучше.</p>
        <div class="d-flex flex-column flex-md-row justify-content-center">
            <a href="/invite_bot" class="btn mx-2 my-2">
                Добавить бота
            </a>
            {% if username is undefined %}
                {% set url_for_guilds_btn = "/login" %}
            {% else %}
                {% set url_for_guilds_btn = "/guilds" %}
            {% endif %}
            <a href="{{ url_for_guilds_btn }}" class="btn mx-2 my-2">
                Настройки серверов
            </a>
        </div>
    </main>
{% endblock %}